= form_with(model: product, local: true) do |f|
  - if product.errors.any?
    #error_explanation
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
    = f.fields_for :images do |i|
      = i.label :image
      = i.file_field :image
      = i.hidden_field :id, value: i.object.id
  .actions
    = f.submit